.input-div {
  width: 100%;
  float:left;
}

input, label {
  display: block;
}

label {
  font-weight: bold;
  color: white;
}

.input-div input {
  width: 80%;
  height: 25px;
  border-radius: 5px;
  margin: 0 auto;
}

form button {
  margin-top: 25px;
}
