html, body {
	margin: 0;
	padding: 0;
	font-family: "Audiowide", monospace;
}

body {
	color: #000;
}

a {
	background: grey;
	padding: 8px;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}
.content:before {
	content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
	background:  linear-gradient(
      rgba(255, 235, 0, 0.9),
      rgba(255, 235, 0, 0.9)
    ),url('bg.png');
  display: block;
	width: 100%;
  height: 100%;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  text-align: center;
  width: 100%;
	float: left;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 0 10px;
}

/* ================= */
/* Header tag setup  */
/* ================= */

header h1, header p {
	text-align: center;
}

label {
	-webkit-appearance: push-button;
  -moz-appearance: button;
  display: inline-block;
  margin: 60px 0 10px 0;
}

.sidebar {
	position: fixed;
	float: right;
  top: 0;
	right: 0;
  width: 0;
  height: 100vh;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.3s ease;
}

#open-sidebar:target {
	width: 20%;
}

#open-sidebar:target + .page-wrap {
	width: 80%;
}
